<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <title>Title</title>
</head>
<body>

<nav>
    <a th:href="@{/versenyek/new}">Verseny létrehozása</a>
    <a th:href="@{/versenyek}">Versenyek listázása</a>
</nav>

<h1>Versenyek</h1>

<div class="list">
    <div th:each="eredmeny :${eredmenyek}" class="row">
        <div th:text="${eredmeny.resztvevo.name}"></div>
        <div th:text="${eredmeny.eredmeny}+' perc'">perc</div>
    </div>
</div>

</body>
</html>