<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <title>Title</title>
</head>
<body>
<div>Eredmenyek</div>
<!--<nav>-->
<!--    <a th:href="@{/futok/new}">Uj futo</a>-->
<!--    <a th:href="@{/futok}">Futok listazasa</a>-->
<!--</nav>-->

<!--<div th:each="futo :${futok}">-->

<!--    <div class="futo-list">-->
<!--        <div th:text="${futo.name}"></div>-->
<!--        <div th:text="${futo.age}"></div>-->
<!--        <div th:text="${futo.gender}"></div>-->
<!--        <a class="link" th:href="@{/futok/{futoId}/edit(futoId=${futo.id})}">Edit</a>-->
<!--    </div>-->

<!--</div>-->
</body>
</html>