<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <title>Futo edit</title>
</head>
<body>
<nav>
    <a th:href="@{/futok/new}">Uj futo</a>
    <a th:href="@{/futok}">Futok listazasa</a>
</nav>

<form role="form" method="post" th:action="@{/futok/{futoId}/edit(futoId=${futo.id})}" th:object="${futo}">
    <input type="hidden" th:field="*{id}">
    <label for="name">Nev</label>
    <input id="name" type="text" name="name" th:field="*{name}"/>
    <label for="age">Kor</label>
    <input id="age" type="number" name="age" th:field="*{age}"/>
    <label for="gender">Nem</label>
    <input id="gender" type="text" name="gender" th:field="*{gender}"/>
    <button type="submit">Mentes</button>
</form>
</body>
</html>