<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <title>Title</title>
</head>
<body>
<nav>
    <a th:href="@{/versenyek/new}">Verseny letrehozasa</a>
    <a th:href="@{/versenyek}">Versenyek listazasa</a>
</nav>

<form role="form" method="post" th:action="@{/verseny/new}" th:object="${verseny}">
    <label for="name">Nev</label>
    <input id="name" type="text" name="name" th:field="*{name}"/>
    <label for="distance">Tavolsag</label>
    <input id="distance" type="number" name="distance" th:field="*{distance}"/>
    <button type="submit">Mentes</button>
</form>
</body>
</html>